
<div class="container sm-container mt-2 p-4">
  <h2 class="text-center">Create an Account</h2>

    <div class="form-group">
      <label> Lastname:</label>
      <input type="text" [(ngModel)]="users.firstname" name="nom" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="prenom" >Firstname:</label>
      <input type="text" [(ngModel)]="users.lastname" class="form-control" id="prenom" name="prenom" required>
    </div>

  <div class="form-group">
    <label for="username" >Username:</label>
    <input type="text" [(ngModel)]="users.username" class="form-control" id="username" name="username" required>
  </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" [(ngModel)]="users.mail" class="form-control" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="motdepasse">Mot de passe:</label>
      <input type="password" [(ngModel)]="users.password" class="form-control" id="motdepasse" name="motdepasse" required>
    </div>

    <div class="form-group"> 
      <label for="ville">Ville:</label>
      <input type="text" [(ngModel)]="users.ville" class="form-control" id="ville" name="ville" required>
    </div>

    <div class="form-group">
      <label for="genre">Genre:</label>
      <select [(ngModel)]="users.gender" class="form-control" id="genre" name="genre">
        <option value="homme">Homme</option>
        <option value="femme">Femme</option>
        <option value="autre">Autre</option>
      </select>
    </div>

    <div class="form-group">
      <label for="date_naissance">Date de naissance:</label>
      <input type="date" [(ngModel)]="users.birthdate" class="form-control" id="date_naissance" name="date_naissance" required>
    </div>

    <div class="form-group">
      <label for="telephone">Numéro de téléphone:</label>
      <input type="tel" [(ngModel)]="users.phoneNumber" class="form-control" id="telephone" name="telephone" required pattern="\d{10}">
      <small class="form-text text-muted">Entrez un numéro de téléphone valide (10 chiffres).</small>
    </div>
    
<div class="text-center">
  <button type="submit" class="btn btn-primary"  (click)="addUsers()"> S'inscrire</button>
</div>

</div>